<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.ex.mapper.CompanyMapper">
	<!--List<DeptVO> 타입은 패키지위치.DeptVO -->
	<select id="getEmpDept" resultType="EmpDeptVO">    
    <![CDATA[
	      select * from emp, dept, salgrade where emp.deptno = dept.deptno and emp.sal BETWEEN salgrade.losal and salgrade.hisal
        ]]>
	</select>
	   <!--  SalGradeVO  -->
       <resultMap id="salGradeMap" type="SalgradeVO" >
          <result property="hisal" column="hisal"/>
          <result property="losal" column="losal"/>
          <result property="grade" column="grade"/>      
       </resultMap>
	
	<!-- EmpVO EmpMap = new EmpVO() -->
	<resultMap id="EmpMap" type="EmpVO">
		<result property="empno" column="empno" />
		<result property="ename" column="ename" />
		<result property="job" column="job" />
		<result property="mgr" column="mgr" />
		<result property="hiredate" column="hiredate" />
		<result property="sal" column="sal" />
		<result property="comm" column="comm" />
		<result property="deptno" column="deptno" />
		<association property="salgrade" resultMap="salGradeMap" /><!-- 1 : 1 -->
	</resultMap>

	<!-- id는 개발자가 마음대로 -->
	<resultMap id="DeptEmpMap" type="DeptEmpVO">
		<!-- DeptEmpVO 변수명 -->
		<result property="deptno" column="deptno" />
		<result property="dname" column="dname" />
		<result property="loc" column="loc" />
		<collection property="empList" resultMap="EmpMap" /><!-- 1 : N  = DeptEmpMap : EmpMap -->
	</resultMap>

	<select id="getDeptEmpList" resultMap="DeptEmpMap">    
    <![CDATA[
	        select * from emp, dept, salgrade where emp.deptno = dept.deptno and emp.sal BETWEEN salgrade.losal and salgrade.hisal
     ]]>
	</select>

</mapper>
