<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.ex.mapper.UserMapper">

	<resultMap id="authMap" type="AuthVO">
		<result property="username" column="username" />
		<result property="authority" column="authority" />
	</resultMap>

	<resultMap id="UserMap" type="UserVO">
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="enabled" column="enabled" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<select id="getUser" resultMap="UserMap">    
    <![CDATA[
		select * from users,authorities 
		where users.username = authorities.username 
		and users.username=#{username}
        ]]>
	</select>
	<!--User add   -->
	<!-- <insert id="insertUser">
    <![CDATA[
	insert into users(username,password) 
	VALUES (#{username},#{password})
        ]]>
	</insert>
	Authoruties add 
	<insert id="insertAuthoruties">
    <![CDATA[
	insert into authorities(username,authority) 
	values(#{username},'ROLE_USER')
        ]]>
	</insert> -->

</mapper>
